/* style default components */

body {
    @media (max-width: 1280px) { 
        font-size: 16px; 
    } 
    font-size: 16px;
    color: #373a3c;
}

h5, strong, b {
    font-weight: bold;
}

.devider-center {
    width: 7rem;
    display: block;
    border-top: 1px solid darken($soft-gray, 30%);
    margin: 2rem auto;
}

a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}

figure {
    margin: 0 0 3rem 0;
}

.alert {
    padding: 0.5rem;
    color: #929292;
    background-color: #f5f5f5;
    border-radius: $small-radius;
    .material-icons {
        font-size: initial;
        margin-right: 0.5rem;
        vertical-align: -3px;
    }
    code {
        border: none;
        padding: 0;
        background-color: transparent;
        color: #929292;
    }
}

i.material-icons {
    font-size: inherit;
    vertical-align: -2px;
    margin-right: 2px;
}

code {
    border: 1px solid lighten($primary-color, 20%);
    color: $primary-color;
}

pre {
    code, kbd {
        border: none;
    }
}

.highlight {
    pre {
        code {
            color: $body-copy-color;
        }
    }
}

.mute {
    opacity: 0.4;
}

.typo-example-no-margin {
    overflow:  hidden;
    h1,h2,h3,h4,h5,h6 {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
    margin: 2rem 0;
}

.spacer {
    padding: 3rem 0;
    display: block;
}

