/* style default components */

a {
    text-decoration: none !important;
    color: $primary-color;
    &:hover {
        color: darken($primary-color, 15%);
    }
}

.devider-center {
    width: 7rem;
    display: block;
    border-top: 1px solid darken($soft-gray, 30%);
    margin: 2rem auto;
}

figure {
    margin-left: 0;
    margin-right: 0;
}

.dropcap {
    font-size: 3.375em;
    float: left;
    margin-top: 4px;
    margin-right: 6px;
    line-height: 0.8;
    margin-left: -4px;
}

.alert {
    padding: 0.5rem;
    color: #929292;
    background-color: #f5f5f5;
    border-radius: $small-radius;
    .material-icons {
        font-size: initial;
        margin-right: 0.5rem;
        vertical-align: -3px;
    }
    code {
        border: none;
        padding: 0;
        background-color: transparent;
        color: #929292;
    }
}

i.material-icons {
    font-size: inherit;
    vertical-align: -2px;
    margin-right: 2px;
}

code {
    border: 1px solid lighten($primary-color, 20%);
    color: $primary-color;
}

pre {
    code, kbd {
        border: none;
        font-size: inherit;
    }
}

.mute {
    opacity: 0.4;
}