.header {
    padding: 1rem;
    font-size: 16px !important;
    &.default {
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    .site-brand {
        display: block;
        float: left;
        margin-top: 2px;
        .brand-image {
            float: left;
            @media (max-width: $tablet-portrait-size) {
                margin-top: -1px;
            }
            #logo-header {
                width: 24px;
                height: 24px;
                padding: 1px;
                margin-top: 1px;
                overflow: visible;
                .cls-1 {
                    fill: $primary-color;
                }
            }
        }
        .brand-type {
            letter-spacing: 0.3px;
            padding: 0.3rem 1rem;
            padding-left: 0.5rem;
            font-family: $brand-font-family;
            font-weight: $font-weight-bold;
        }
        &:hover {
            .brand-image #logo-header .cls-1 {
                fill: darken($primary-color, 15%);
            }
        }
    }
    .site-nav {
        float: right;
        .site-nav-list {
            list-style: none;
            padding: 0;
            margin: 0;
            .nav-list-item {
                display: inline-block;
                margin-bottom: 0;
                margin-left: 2rem;
                &:first-child {
                    margin-left: 0;
                }
                .nav-list-link {
                    padding: 0.3rem 0;
                    border-radius: $small-radius;
                    display: block;
                    position: relative;
                    @media (max-width: $tablet-portrait-size - 1) {
                        padding-right: 0;
                    }
                }
                @media (min-width: $tablet-portrait-size) {
                    &.active, &:hover {
                        .nav-list-link:after {
                            content: "";
                            width: 100%;
                            height: 1px;
                            background-color: lighten($primary-color, 30%);
                            bottom: 0;
                            left: 0;
                            right: 0;
                            margin: 0 auto;
                            position: absolute;
                        }
                    }
                }
            }
        }
    }
}