.landing-block {
    @include clearfix;
    width: 100%;
    background-color: $soft-gray;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(66, 131, 251, 0.09);
    .landing-block-logo {
        display: block;
        text-align: center;
        margin-top: 16vh;
        margin-bottom: 7rem;
        .logo-image {
            max-width: 8.1rem;
            margin-bottom: 1.5rem;
            #logo-landing {
                width: 9.1rem;
                height: 8.25rem;
                margin-bottom: 1.5rem;
                padding: 0.5rem;
                overflow: visible;
                .cls-1 {
                    fill: $primary-color;
                }
            }
        }
        .logo-text {
            margin: 0 0 0.5em 0;
            font-weight: $font-weight-bold;
            font-family: $brand-font-family;
            letter-spacing: 0.2px;
            color: $body-copy-color;
            font-size: 1.5em;
        }
        .logo-tagline {
            color: darken($soft-gray, 30%);
            font-size: 1.13em;
        }
    }
    .usp-column {
        @media (max-width: $tablet-portrait-size) {
            display: flex;
            justify-content: center;
        }
        .usp-block {
            @include clearfix;
            margin-bottom: 3rem;
            padding-left: 3.7rem;
            position: relative;
            @media (max-width: $tablet-portrait-size) {
                padding-left: 4rem;
            }
            .usp-icon {
                position: absolute;
                top: 4px;
                left: 0;
                .material-icons {
                    font-size: 2.6em;
                    color: $primary-color;
                    @media (max-width: $tablet-portrait-size) {
                        font-size: 1.9em;
                    }
                }
                &.one {

                }
                &.two .material-icons {
                    margin-top: -3px;
                }
                &.three .material-icons {
                    margin-top: -3px;
                }
                &.four .material-icons {
                    margin-top: -6px;
                }
                &.five .material-icons {
                    margin-top: 2px;
                }
                &.six .material-icons {
                    margin-top: 2px;
                }
            }
            strong {
                color: $primary-color;
            }
        }
    }
}

.introduction {
    overflow: hidden;
    margin-top: 1rem;
    margin-bottom: 2rem;
    .intro-title {
        font-weight: $font-weight-light;
        color: darken($soft-gray, 30%);
    }
    .intro-text {
        text-align: justify;
        @media (max-width: $tablet-portrait-size) {
            text-align: left;
        }
    }
}

.button-outlined.no-margin-r {
    margin-right: 0;
}

.logo-image {
    #logo-landing {
        .cls-1#top-left {
            transform: translate3d(0,0,0);
            transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            will-change: translate3d;
        }
        .cls-1#bottom-left {
            transform: translate3d(0,0,0);
            transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            will-change: translate3d;
        }
        .cls-1#bottom-right {
            transform: translate3d(0,0,0);
            transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            will-change: translate3d;
        }
        .cls-1#top-right {
            transform: translate3d(0,0,0);
            transition: all 250ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
            will-change: translate3d;
        }
    }
    #logo-landing:hover, #logo-landing.hover {
        .cls-1#top-left {
            transform: translate3d(-50px, -50px, 0);
        }
        .cls-1#bottom-left {
            transform: translate3d(-50px, 50px, 0);
        }
        .cls-1#bottom-right {
            transform: translate3d(50px, 50px, 0);
        }
        .cls-1#top-right {
            transform: translate3d(50px, -50px, 0);
        }
    }
}
