<footer class="footer">
    <div class="container">
        <ul class="social-icons-list text-pl-center text-pp-center">
            <li>
                <a href="http://github.com/getpavilion/pavilion" target="_blank" class="github-icon">
                    <svg id="github" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32.8 31.81"><title>github-icon</title><path class="cls-1" d="M17.1,0.5A16.31,16.31,0,0,0,12,32.3a0.85,0.85,0,0,0,1.1-.8V28.7c-4.5,1-5.5-2.2-5.5-2.2a4.13,4.13,0,0,0-1.8-2.4c-1.5-1,.1-1,0.1-1a3.48,3.48,0,0,1,2.5,1.7,3.46,3.46,0,0,0,4.7,1.4,3.48,3.48,0,0,1,1-2.2c-3.6-.4-7.4-1.8-7.4-8.1a6.2,6.2,0,0,1,1.7-4.4,5.69,5.69,0,0,1,.2-4.3s1.4-.4,4.5,1.7a14,14,0,0,1,4.1-.5,18.41,18.41,0,0,1,4.1.5c3.1-2.1,4.5-1.7,4.5-1.7a6.26,6.26,0,0,1,.2,4.3,6.47,6.47,0,0,1,1.7,4.4c0,6.3-3.8,7.6-7.4,8a3.82,3.82,0,0,1,1.1,3v4.5a0.85,0.85,0,0,0,1.1.8A16.32,16.32,0,0,0,33.6,16.7,16.59,16.59,0,0,0,17.1.5Z" transform="translate(-0.8 -0.5)" /></svg>
                </a>
            </li>
            <li>
                <a href="http://twitter.com/wesselgrift" target="_blank">
                    <svg id="twitter" data-name="Laag 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 33.6 27.5"><title>twitter-icon</title><g id="g16"><path id="path22" d="M33.8,6.3a13.16,13.16,0,0,1-4,1.1,7.07,7.07,0,0,0,3-3.8,13,13,0,0,1-4.4,1.7,6.27,6.27,0,0,0-5-2.3,6.91,6.91,0,0,0-6.9,6.9,8.75,8.75,0,0,0,.2,1.6A19.58,19.58,0,0,1,2.4,4.3a6.76,6.76,0,0,0-.9,3.5,7,7,0,0,0,3.1,5.8,5.61,5.61,0,0,1-3.1-.9v0.1a6.88,6.88,0,0,0,5.6,6.8,5.54,5.54,0,0,1-1.8.2A5.7,5.7,0,0,1,4,19.7a6.78,6.78,0,0,0,6.5,4.8,13.82,13.82,0,0,1-8.6,3,9.7,9.7,0,0,1-1.7-.1,19.36,19.36,0,0,0,10.6,3.1c12.8,0,19.7-10.6,19.7-19.7V9.9a18.84,18.84,0,0,0,3.3-3.6" transform="translate(-0.2 -3)" /></g></svg>
                </a>
            </li>
        </ul>
        <div class="row">
            <div class="col-tp-75 text-pl-center text-pp-center">
                <span class="footer-text">Designed and maintained by <a href="https://twitter.com/wesselgrift" target="_blank">@wesselgrift</a>. Licensed under the <a href="https://github.com/getpavilion/pavilion/blob/master/license" target="_blank">MIT License</a>.</span>
            </div>
            <div class="col-tp-25 text-right text-pl-center text-pp-center">
                <span class="footer-text">Current version: 1.0.25</span>
            </div>
        </div>
    </div>
</footer>
