.typo-example-no-margin {
    h1,h2,h3,h4,h5,h6 {
        margin-top: 0;
        margin-bottom: 1.5rem;
        font-weight: normal;
    }
}

figure {
    pre {
        padding: 1rem 1.5rem;
        code {
            padding: 0rem;
            line-height: 1.7;
            color: $body-copy-color;
        }
    }
}

.highlight .nt {
    color: $primary-color;
}

#utils table thead tr th {
    width: 40%;
}