---
layout: default
---

{% include hero.html %}
<section class="main-section version-picker">
    <div class="container">
        <div class="version-picker-box">
            <span class="tag">Version: </span>
            <span class="version">
                <div class="version-current">{{ page.version }} <i class="material-icons">arrow_drop_down</i></div>
                <ul class="version-dropdown">
                    <li class="version-item {% if page.version == '2.0.3' %} current {% endif %}">
                        <a href="{{ siteurl }}/docs" class="version-link {% if page.version == '2.0.3' %} disable-click {% endif %}"><i class="material-icons">check</i> 2.0.3</a>
                    </li>
                    <li class="version-item {% if page.version == '1.0.31' %} current {% endif %}">
                        <a href="{{ siteurl }}/deprecated/docs" class="version-link {% if page.version == '1.0.31' %} disable-click {% endif %}"><i class="material-icons">check</i> 1.0.31</a>
                    </li>
                </ul>
            </span>
        </div>
    </div>
</section>
<section class="main-section">
    <div class="container">
        <div class="row">
            {{ content }}
        </div>
    </div>
</section>