---
layout: default
---
<div class="documentation-header">
    <div class="container">
        <h1 class="documentation-title">{{ page.title }}</h1>
        <h4 class="documentation-description">{{ page.description }}</h4>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-tp-25 hide-pl hide-pp">
            <ul class="documentation-list nav" id="sticky">
                {% for post in site.posts %}
                <li class="documentation-list-item">
                    <a class="documentation-list-link" data-scroll href="#{{ post.postid }}">{{ post.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-tp-75">
            {{ content }}
        </div>
    </div>
</div>
